{
  "Jwt": {
    "Issuer": <>,
    "Audience": <>,
    "AccessToken": {
      "Secret": <>,
      "ExpirationMinutes": <>
    },
    "RefreshToken": {
      "Secret": <>,
      "ExpirationMinutes": <>
    }
  }
}
